body {
    background-color: #F8F9FC;
    font-family: Outfit, sans-serif;
    background: url("images/Background2.svg") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    min-height: 100vh;
    
}

/* .content-background{
    border: solid;
    border-width: 1px;
    border-radius: 1.5rem;
    margin: 35px;
    padding-top: 50px;
    background: rgba(248, 249, 252, 0.412);
} */

.content-wrapper {
    width: fit-content;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    padding: 0px;
    margin: 50px;
    margin-top: 0px;
}

.info {
    flex: 1;
    display: flex;
    justify-content: center;
}

.info-wrapper {
    display: flex;
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 50px;
    width: fit-content;
    text-align: center;
}

.page-title {
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    font-family: Outfit, sans-serif;
}

.scanner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.scanner-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 0;
    justify-content: center;
}

.face-scanner {
    border-radius: 1.25rem;
    background-color: rgba(255, 255, 255, 0.812);
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    overflow: hidden;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border: solid;
    border-width: 1.5px;
}

.scanner-view {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.850);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    padding: 25px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    margin: 0;
    transform: scaleX(-1);
    z-index: 1;
}

.scanner-icon {
    visibility: visible;
    aspect-ratio: 1.05;
    object-fit: contain;
    object-position: center;
    width: 200rem;
}

.greeting-text {
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    margin-top: 18px;
    font: 700 16px/1 Outfit, sans-serif;
}

.scan-button {
    border-radius: 30px;
    background-color: rgba(203, 210, 225, 0.641);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 1);
    white-space: nowrap;
    text-align: center;
    justify-content: end;
    padding: 18px 24px;
    border: solid;
    border-width: 1.5px;
    font: 700 16px/1 Outfit, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.scan-button:hover{
    box-shadow: 0px 2px 2px 30px rgba(0, 0, 0, 0.25) inset;
}

.scan-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 20px;
    align-self: stretch;
    margin: auto 0;
}
@media (max-width: 600px) {

body {
overflow-x: hidden;
}


.content-wrapper {
width: 100%;
margin: 0;
padding: 10px;
box-sizing: border-box; 
}


.content {
flex-direction: column;
align-items: center;
margin: 0;
padding: 10px;
}


.info {
width: 100%;
margin: 0;
padding: 0;
}

.info-wrapper {
padding: 10px;
margin: 0;
text-align: center;
}

.page-title {
font-size: 32px; 
line-height: 36px;
}


.scanner {
width: 100%;
margin: 10px;
padding: 10px;
min-height: auto;
}

.face-scanner {
margin: 0 auto;
padding: 10px;
}

.scanner-view {
width: 200px; 
height: 200px;
}

.greeting-text {
font-size: 14px;
}

.scan-button {
padding: 12px 18px; 
font-size: 14px;
}

.info-image {
max-width: 90%;
height: auto;
}

.scanner-icon {
width: 150rem;
}

}