body {
    background-color: #F8F9FC;
    font-family: Outfit, sans-serif;
    background: url("images/Background2.svg") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    min-height: 100vh;
    font-family: sans-serif;
}


.content{
    margin: 35px ;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 40px 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgba(248, 249, 252, 0.825);
    
}

.content-wrapper{
    display: flex;
    flex-direction: column;
}

.page-title{
    font-size: 40px;
    text-align: left;
    font-family: Outfit, sans-serif;    
}

.title-wrapper {
 margin-left: 50px;
 width: fit-content;
 float: left;
}

.illustration{
    height: 25rem;
}

.section-empty{
    display: block;
    align-self: center;
    text-align: center;
    font-size: 25px;
    font-family: Outfit, sans-serif;
    margin-top: -100px;
}

.section-empty-text{
    margin-top: 1%;
    margin-bottom: 2%;
}



@media (max-width: 600px) {

body {
overflow-x: hidden;
}

.content{
    margin: 10px;
}

.content-wrapper{
    gap: 50px;
}

.illustration{
    height: 17rem;
}

.section-empty{
    margin-top: -20px;
}

.section-empty-text{
    margin-bottom: 10%;
}

}