body {
    background-color: #F8F9FC;
    font-family: Outfit, sans-serif;
    background: url("images/Background2.svg") no-repeat top center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    min-height: 100vh;
    
}

#nav-item0{
background-color: #8d939d;
border-radius: 10px;
border: 10px;
}

 .content-background{
    border: solid;
    border-width: 1px;
    border-radius: 1.5rem;
    margin: 35px;
    padding-top: 50px;
    background: rgba(248, 249, 252, 0.82);
} 

.content-wrapper {
    width: fit-content;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 50px;
    margin-top: 0px;
}

.info, .details {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 30rem;
}

.info-wrapper, .details-wrapper {
    display: flex;
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
    width: fit-content;
    text-align: start;
}

@media (max-width: 1200px) {

    .content {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
        margin: 20px;
    }

    .info, .details {
        width: 100%; 
        justify-content: flex-start; 
    }

    .info-wrapper, .details-wrapper {
        padding: 20px;
        padding-right: 0px;
        width: 100%; 
    }

    .details {
        margin-top: 20px; 
    }

    .info-title, .details-title {
        font-size: 1.5rem;
    }

    .info-wrapper p, .details-wrapper p {
        font-size: 1rem; 
    }

    .info-wrapper, .details-wrapper {
        word-wrap: break-word; 
        overflow-wrap: break-word; 
    }
}

@media (max-width: 600px) {

    .content-background{
        margin: 15px;
    }

    .content {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
        margin: 20px;
    }

    .info, .details {
        width: 100%; 
        justify-content: flex-start; 
    }

    .info-wrapper, .details-wrapper {
        padding: 20px;
        padding-right: 0px;
        width: 100%; 
    }

    .details {
        margin-top: 20px; 
    }

    .info-title, .details-title {
        font-size: 1.2rem;
    }

    .info-wrapper p, .details-wrapper p {
        font-size: 0.9rem; 
    }

    .info-wrapper, .details-wrapper {
        word-wrap: break-word; 
        overflow-wrap: break-word; 
    }
}